body {
    padding: 50px 100px;
    min-width: 1200px;
}

h2 {
    text-align: center;
}

.login {
    padding-top: 150px;
    text-align: center;
}

.settings {
    display: block;
    padding: 30px;
    border: 1px solid black;
}

.test {
    width: 100%;
    display: block;
    border: 1px solid #000;
}

.test h2 {
    padding: 10px;
    text-align: left;
}

.test .test-checkbox {
    margin: 10px;
}

.test .correct {
    text-decoration: underline double green;
}

.test .wrong {
    text-decoration: underline red;
}

.new-test-menu {
    width: 550px;
}

.new-answer-btn {
    margin: 0 15px;
}

.new-test-main {
    margin-top: 15px;
    text-align: right;
}

.new-answer {
    display: block;
    text-align: right;
}

.edit-test-menu {
    width: 550px;
    margin-top: 20px;
    text-align: right;
}

.edit-test-btns {
    text-align: left;
}

.send-btn {
    margin-top: 20px;
}

.cancel-edit-btn {
    margin-left: 15px;
}

.msg {
    padding: 60px;
}
