body {
    padding: 50px 200px;
    min-width: 1000px;
}

.login {
    padding: 10% 30%;
}

.settings {
    float: left;
    width: 400px;
    height: 150px;
    padding: 30px;
    border: 1px solid black;
}

.polls {
    float: left;
    padding: 30px;
}

.new-poll-menu {
    width: 550px;
    display: none;
}

.new-answer-btn {
    margin: 15px 0;
}

.new-poll-main {
    text-align: right;
}

.new-answer {
    display: block;
    text-align: right;
}