body {
    padding: 50px 100px;
    min-width: 1200px;
}

h2 {
    text-align: center;
}

.login {
    padding-top: 150px;
    text-align: center;
}

.settings {
    float: left;
    width: 400px;
    height: 150px;
    padding: 30px;
    border: 1px solid black;
}

.tests {
    float: left;
    padding-left: 50px;
}

.new-test-menu {
    width: 550px;
}

.new-answer-btn {
    margin: 0 15px;
}

.new-test-main {
    margin-top: 15px;
    text-align: right;
}

.new-answer {
    display: block;
    text-align: right;
}

.edit-test-menu {
    width: 550px;
    text-align: right;
}

.edit-test-main {
    text-align: right;
}

.edit-test-btns {
    text-align: left;
}

.send-btn {
    margin-top: 20px;
}

.cancel-edit-btn {
    margin-left: 15px;
}

.start-test-btn {
    margin-left: 15px;
}

.answer-test-menu {
    float: left;
    width: 800px;
    padding: 50px;
}

.answer-test-btn {
    margin-top: 30px;
}

.cancel-test-btn {
    margin-left: 15px;
}

.msg {
    padding: 60px;
}
